# Cleaning and Exporting to CSV

In [2]:
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [3]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
btc_data = get_historical_data(browser, 'BTC-USD', '9/17/2014', '9/29/2021')
eth_data = get_historical_data(browser, 'ETH-USD', '9/17/2014', '9/29/2021') 
ada_data = get_historical_data(browser, 'ADA-USD', '9/17/2014', '9/29/2021')
xrp_data = get_historical_data(browser, 'XRP-USD', '9/17/2014', '9/29/2021')
bnb_data = get_historical_data(browser, 'BNB-USD', '9/17/2014', '9/29/2021') 
ltc_data = get_historical_data(browser, 'LTC-USD', '9/17/2014', '9/29/2021')
doge_data = get_historical_data(browser, 'DOGE-USD', '9/17/2014', '9/29/2021')
dot1_data = get_historical_data(browser, 'DOT1-USD', '9/17/2014', '9/29/2021') 
etc_data = get_historical_data(browser, 'ETC-USD', '9/17/2014', '9/29/2021')
sol1_data = get_historical_data(browser, 'SOL1-USD', '9/17/2014', '9/29/2021')
link_data = get_historical_data(browser, 'LINK-USD', '9/17/2014', '9/29/2021') 
atom1_data = get_historical_data(browser, 'ATOM1-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(btc_data.shape, eth_data.shape, ada_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Get LATEST driver version for 94.0.4606
Trying to download new driver from https://chromedriver.storage.googleapis.com/94.0.4606.61/chromedriver_mac64.zip
Driver has been saved in cache [/Users/albertomontilla/.wdm/drivers/chromedriver/mac64/94.0.4606.61]

(2571, 7) (2247, 7) (1461, 7)

In [4]:
btc_data.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
2566,2021-09-25,"42,840.89","42,996.26","41,759.92","42,716.59","42,716.59","31,604,717,236"
2567,2021-09-26,"42,721.63","43,919.30","40,848.46","43,208.54","43,208.54","30,661,222,077"
2568,2021-09-27,"43,234.18","44,313.25","42,190.63","42,235.73","42,235.73","30,980,029,059"
2569,2021-09-28,"42,200.90","42,775.14","40,931.66","41,034.54","41,034.54","30,214,940,550"
2570,2021-09-29,"41,064.98","42,545.26","40,829.67","41,564.36","41,564.36","30,602,359,905"

In [5]:
eth_data.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
2242,2021-09-25,"2,930.88","2,968.99","2,818.97","2,925.57","2,925.57","18,932,786,754"
2243,2021-09-26,"2,926.34","3,114.86","2,744.58","3,062.27","3,062.27","21,172,766,310"
2244,2021-09-27,"3,065.84","3,163.67","2,932.69","2,934.14","2,934.14","19,164,053,681"
2245,2021-09-28,"2,928.96","2,970.77","2,793.36","2,807.30","2,807.30","16,895,079,070"
2246,2021-09-29,"2,809.30","2,946.88","2,786.99","2,853.14","2,853.14","15,763,456,158"

In [6]:
ada_data.head()

        Date    Open    High     Low  Close* Adj Close**      Volume
0 2017-10-01  0.0217  0.0322  0.0174  0.0250      0.0250  50,068,700
1 2017-10-02  0.0246  0.0301  0.0200  0.0259      0.0259  57,641,300
2 2017-10-03  0.0258  0.0274  0.0207  0.0208      0.0208  16,997,800
3 2017-10-04  0.0209  0.0228  0.0209  0.0219      0.0219   9,000,050
4 2017-10-05  0.0220  0.0222  0.0209  0.0215      0.0215   5,562,510

In [10]:
# Formatting columns function

def regex(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Clean and export function

def clean_export (dataframe, namecsv, symbol):

    # Dropping NA values

    def clean (dataframe):
            for column in dataframe.columns :
                regex(dataframe)

    clean(dataframe)
    
        # Converting columns in float type after cleaning

    def float_converter (dataframe):
            dataframe["Open"] = dataframe["Open"].astype("float")
            dataframe["Close*"] = dataframe['Close*'].astype("float")
            dataframe["High"] = dataframe["High"].astype("float")
            dataframe["Low"] = dataframe["Low"].astype("float")
            dataframe["Adj Close**"] = dataframe["Adj Close**"].astype("float")
            dataframe["Volume"] = dataframe["Volume"].astype("float")
    
    float_converter(dataframe)

    dataframe.dropna(how='any',axis=0, inplace=True)

    # Add symbol function

    def add_symbol (dataframe, symbol):
        for i in dataframe.iterrows():
            dataframe['symbol'] = symbol

    add_symbol(dataframe)

        # Exporting the data to a CSV File

    return dataframe.to_csv(f'Resources/{namecsv}-USD.csv', header=False, index=False)

# BITCOIN

In [11]:
clean_export(btc_data, 'BTC', 'BTC')
btc_data.dtypes

TypeError: add_symbol() missing 1 required positional argument: 'symbol'

# ETHEREUM

In [33]:
clean_export(eth_data, 'ETHEREUM')
eth_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# CARDANO

In [34]:
clean_export(ada_data, 'CARDANO')
ada_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# BINANCE

In [31]:
clean_export(bnb_data, 'BINANCE')

# DOGECOIN

In [41]:
clean_export(doge_data, 'DOGECOIN')

# POLKADOT

In [43]:
clean_export(dot1_data, 'POLKADOT')

# ETHEREUM CLASSIC

In [38]:
clean_export(eth_data, 'ETHEREUM_CLASSIC')

# CHAINLINK

In [40]:
clean_export(link_data, 'CHAINLINK')

In [44]:
eth_data

           Date     Open     High      Low   Close*  Adj Close**        Volume
0    2015-08-07     2.83     3.54     2.52     2.77         2.77  1.643290e+05
1    2015-08-08     2.79     2.80     0.71     0.75         0.75  6.741880e+05
2    2015-08-09     0.71     0.88     0.63     0.70         0.70  5.321700e+05
3    2015-08-10     0.71     0.73     0.64     0.71         0.71  4.052830e+05
4    2015-08-11     0.71     1.13     0.66     1.07         1.07  1.463100e+06
...         ...      ...      ...      ...      ...          ...           ...
2242 2021-09-25  2930.88  2968.99  2818.97  2925.57      2925.57  1.893279e+10
2243 2021-09-26  2926.34  3114.86  2744.58  3062.27      3062.27  2.117277e+10
2244 2021-09-27  3065.84  3163.67  2932.69  2934.14      2934.14  1.916405e+10
2245 2021-09-28  2928.96  2970.77  2793.36  2807.30      2807.30  1.689508e+10
2246 2021-09-29  2809.30  2946.88  2786.99  2853.14      2853.14  1.576346e+10

[2243 rows x 7 columns]

In [52]:
# Add symbol function

def add_symbol (df, symbol):
    for i in df.iterrows():
        df['symbol'] = symbol

In [53]:
add_symbol(btc_data, 'BTC')

In [55]:
btc_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2014-09-17,465.86,468.17,452.42,457.33,457.33,2.105680e+07,BTC
1,2014-09-18,456.86,456.86,413.10,424.44,424.44,3.448320e+07,BTC
2,2014-09-19,424.10,427.83,384.53,394.80,394.80,3.791970e+07,BTC
3,2014-09-20,394.67,423.30,389.88,408.90,408.90,3.686360e+07,BTC
4,2014-09-21,408.08,412.43,393.18,398.82,398.82,2.658010e+07,BTC
...,...,...,...,...,...,...,...,...
2566,2021-09-25,42840.89,42996.26,41759.92,42716.59,42716.59,3.160472e+10,BTC
2567,2021-09-26,42721.63,43919.30,40848.46,43208.54,43208.54,3.066122e+10,BTC
2568,2021-09-27,43234.18,44313.25,42190.63,42235.73,42235.73,3.098003e+10,BTC
2569,2021-09-28,42200.90,42775.14,40931.66,41034.54,41034.54,3.021494e+10,BTC
2570,2021-09-29,41064.98,42545.26,40829.67,41564.36,41564.36,3.060236e+10,BTC

In [51]:
eth_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2015-08-07,2.83,3.54,2.52,2.77,2.77,1.643290e+05,ETH
1,2015-08-08,2.79,2.80,0.71,0.75,0.75,6.741880e+05,ETH
2,2015-08-09,0.71,0.88,0.63,0.70,0.70,5.321700e+05,ETH
3,2015-08-10,0.71,0.73,0.64,0.71,0.71,4.052830e+05,ETH
4,2015-08-11,0.71,1.13,0.66,1.07,1.07,1.463100e+06,ETH
...,...,...,...,...,...,...,...,...
2242,2021-09-25,2930.88,2968.99,2818.97,2925.57,2925.57,1.893279e+10,ETH
2243,2021-09-26,2926.34,3114.86,2744.58,3062.27,3062.27,2.117277e+10,ETH
2244,2021-09-27,3065.84,3163.67,2932.69,2934.14,2934.14,1.916405e+10,ETH
2245,2021-09-28,2928.96,2970.77,2793.36,2807.30,2807.30,1.689508e+10,ETH
2246,2021-09-29,2809.30,2946.88,2786.99,2853.14,2853.14,1.576346e+10,ETH

In [1]:
btc_data

NameError: name 'btc_data' is not defined