# Cleaning and Exporting to CSV

In [6]:
#imports to load from subdirectories
import sys
sys.path.insert(0, './load')

#imports for the YF scraper
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [3]:
#minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
hist_full = get_historical_data(browser, 'BTC-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(hist_full.shape)
hist_full.head(10)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/albertomontilla/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

(2571, 7)

        Date    Open    High     Low  Close* Adj Close**      Volume
0 2014-09-17  465.86  468.17  452.42  457.33      457.33  21,056,800
1 2014-09-18  456.86  456.86  413.10  424.44      424.44  34,483,200
2 2014-09-19  424.10  427.83  384.53  394.80      394.80  37,919,700
3 2014-09-20  394.67  423.30  389.88  408.90      408.90  36,863,600
4 2014-09-21  408.08  412.43  393.18  398.82      398.82  26,580,100
5 2014-09-22  399.10  406.92  397.13  402.15      402.15  24,127,600
6 2014-09-23  402.09  441.56  396.20  435.79      435.79  45,099,500
7 2014-09-24  435.75  436.11  421.13  423.20      423.20  30,627,700
8 2014-09-25  423.16  423.52  409.47  411.57      411.57  26,814,400
9 2014-09-26  411.43  414.94  400.01  404.42      404.42  21,460,800

In [4]:
def cleaning(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [7]:
cleaning(hist_full["Open"])
hist_full["Open"] = hist_full["Open"].astype("float")

In [8]:
cleaning(hist_full["Close*"])
hist_full["Close*"] = hist_full['Close*'].astype("float")

In [10]:
cleaning(hist_full["High"])
hist_full["High"] = hist_full["High"].astype("float")

In [11]:
cleaning(hist_full["Low"])
hist_full["Low"] = hist_full["Low"].astype("float")

In [12]:
cleaning(hist_full["Adj Close**"])
hist_full["Adj Close**"] = hist_full["Adj Close**"].astype("float")

In [17]:
hist_full = hist_full.dropna(how='any',axis=0)

In [18]:
hist_full.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                 object
dtype: object

In [19]:
hist_full.to_csv('hist2014-2021.csv', header=False, index=False)