# Cleaning and Exporting to CSV

In [1]:
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [2]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
btc_data = get_historical_data(browser, 'BTC-USD', '9/17/2014', '9/29/2021')
eth_data = get_historical_data(browser, 'ETH-USD', '9/17/2014', '9/29/2021') 
ada_data = get_historical_data(browser, 'ADA-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(btc_data.shape, eth_data.shape, ada_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/albertomontilla/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

(2571, 7) (2247, 7) (1461, 7)

In [8]:
btc_data.head()

        Date    Open    High     Low  Close* Adj Close**      Volume
0 2014-09-17  465.86  468.17  452.42  457.33      457.33  21,056,800
1 2014-09-18  456.86  456.86  413.10  424.44      424.44  34,483,200
2 2014-09-19  424.10  427.83  384.53  394.80      394.80  37,919,700
3 2014-09-20  394.67  423.30  389.88  408.90      408.90  36,863,600
4 2014-09-21  408.08  412.43  393.18  398.82      398.82  26,580,100

In [6]:
eth_data.head()

        Date  Open  High   Low Close* Adj Close**     Volume
0 2015-08-07  2.83  3.54  2.52   2.77        2.77    164,329
1 2015-08-08  2.79  2.80  0.71   0.75        0.75    674,188
2 2015-08-09  0.71  0.88  0.63   0.70        0.70    532,170
3 2015-08-10  0.71  0.73  0.64   0.71        0.71    405,283
4 2015-08-11  0.71  1.13  0.66   1.07        1.07  1,463,100

In [7]:
ada_data.head()

        Date    Open    High     Low  Close* Adj Close**      Volume
0 2017-10-01  0.0217  0.0322  0.0174  0.0250      0.0250  50,068,700
1 2017-10-02  0.0246  0.0301  0.0200  0.0259      0.0259  57,641,300
2 2017-10-03  0.0258  0.0274  0.0207  0.0208      0.0208  16,997,800
3 2017-10-04  0.0209  0.0228  0.0209  0.0219      0.0219   9,000,050
4 2017-10-05  0.0220  0.0222  0.0209  0.0215      0.0215   5,562,510

In [9]:
# Formatting columns function
def cleaning(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# BITCOIN

In [22]:
# Dropping NA values from the data
btc_data = btc_data.dropna(how='any',axis=0)

In [23]:
# Cleaning and changing the column value types 
cleaning(btc_data["Open"])
btc_data["Open"] = btc_data["Open"].astype("float")
cleaning(btc_data["Close*"])
btc_data["Close*"] = btc_data['Close*'].astype("float")
cleaning(btc_data["High"])
btc_data["High"] = btc_data["High"].astype("float")
cleaning(btc_data["Low"])
btc_data["Low"] = btc_data["Low"].astype("float")
cleaning(btc_data["Adj Close**"])
btc_data["Adj Close**"] = btc_data["Adj Close**"].astype("float")
cleaning(btc_data["Volume"])
btc_data["Volume"] = btc_data["Volume"].astype("float")

In [24]:
btc_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

In [25]:
# Exporting the data to a CSV File
btc_data.to_csv('Resources/BTC-USD.csv', header=False, index=False)

# ETHEREUM

In [26]:
# Dropping NA values from the data
eth_data = eth_data.dropna(how='any',axis=0)

In [27]:
# Cleaning and changing the column value types 
cleaning(eth_data["Open"])
eth_data["Open"] = eth_data["Open"].astype("float")
cleaning(eth_data["Close*"])
eth_data["Close*"] = eth_data['Close*'].astype("float")
cleaning(eth_data["High"])
eth_data["High"] = eth_data["High"].astype("float")
cleaning(eth_data["Low"])
eth_data["Low"] = eth_data["Low"].astype("float")
cleaning(eth_data["Adj Close**"])
eth_data["Adj Close**"] = eth_data["Adj Close**"].astype("float")
cleaning(eth_data["Volume"])
eth_data["Volume"] = eth_data["Volume"].astype("float")

In [28]:
eth_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

In [29]:
# Exporting the data to a CSV File
eth_data.to_csv('Resources/ETH-USD.csv', header=False, index=False)

# CARDANO

In [30]:
# Dropping NA values from the data
ada_data = ada_data.dropna(how='any',axis=0)

In [31]:
# Cleaning and changing the column value types 
cleaning(ada_data["Open"])
ada_data["Open"] = ada_data["Open"].astype("float")
cleaning(ada_data["Close*"])
ada_data["Close*"] = ada_data['Close*'].astype("float")
cleaning(ada_data["High"])
ada_data["High"] = ada_data["High"].astype("float")
cleaning(ada_data["Low"])
ada_data["Low"] = ada_data["Low"].astype("float")
cleaning(ada_data["Adj Close**"])
ada_data["Adj Close**"] = ada_data["Adj Close**"].astype("float")
cleaning(ada_data["Volume"])
ada_data["Volume"] = ada_data["Volume"].astype("float")

In [32]:
ada_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

In [33]:
# Exporting the data to a CSV File
ada_data.to_csv('Resources/ADA-USD.csv', header=False, index=False)