In [1]:
import pandas
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [2]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
sol1_data = get_historical_data(browser, 'SOL1-USD', '9/17/2014', '9/29/2021')
link_data = get_historical_data(browser, 'LINK-USD', '9/17/2014', '9/29/2021') 
atom1_data = get_historical_data(browser, 'ATOM1-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(sol1_data.shape, link_data.shape, atom1_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\19125\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

(539, 7) (1472, 7) (684, 7)

In [3]:
sol1_data.head()

        Date  Open  High   Low Close* Adj Close**      Volume
0 2020-04-10  0.83  1.31  0.69   0.95        0.95  87,364,276
1 2020-04-11  0.95  1.05  0.77   0.78        0.78  43,862,444
2 2020-04-12  0.79  0.96  0.76   0.88        0.88  38,736,897
3 2020-04-13  0.89  0.89  0.77   0.78        0.78  18,211,285
4 2020-04-14  0.78  0.80  0.63   0.66        0.66  16,747,614

In [4]:
link_data.head()

        Date  Open  High   Low Close* Adj Close**     Volume
0 2017-09-20  0.16  0.19  0.15   0.19        0.19  2,718,640
1 2017-09-21  0.19  0.21  0.16   0.17        0.17  2,126,270
2 2017-09-22  0.17  0.18  0.14   0.15        0.15  1,423,220
3 2017-09-23  0.15  0.16  0.13   0.13        0.13  1,186,670
4 2017-09-24  0.13  0.19  0.13   0.17        0.17  1,025,740

In [5]:
atom1_data.head()

        Date  Open  High   Low Close* Adj Close**       Volume
0 2019-09-19  3.31  3.31  2.94   3.13        3.13  184,157,574
1 2019-09-20  3.14  3.26  3.08   3.18        3.18  148,024,573
2 2019-09-21  3.18  3.29  3.04   3.07        3.07  146,995,495
3 2019-09-22  3.07  3.08  2.81   2.91        2.91  140,188,583
4 2019-09-23  2.92  2.92  2.58   2.58        2.58  129,682,436

In [6]:
# Formatting columns function
def cleaning(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# SOLANA

In [8]:
# Dropping NA values from the data
sol1_data = sol1_data.dropna(how='any',axis=0)

In [9]:
# Cleaning and changing the column value types 
cleaning(sol1_data["Open"])
sol1_data["Open"] = sol1_data["Open"].astype("float")
cleaning(sol1_data["Close*"])
sol1_data["Close*"] = sol1_data['Close*'].astype("float")
cleaning(sol1_data["High"])
sol1_data["High"] = sol1_data["High"].astype("float")
cleaning(sol1_data["Low"])
sol1_data["Low"] = sol1_data["Low"].astype("float")
cleaning(sol1_data["Adj Close**"])
sol1_data["Adj Close**"] = sol1_data["Adj Close**"].astype("float")
cleaning(sol1_data["Volume"])
sol1_data["Volume"] = sol1_data["Volume"].astype("float")

In [10]:
sol1_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# CHAINLINK

In [11]:
# Dropping NA values from the data
link_data = link_data.dropna(how='any',axis=0)

In [12]:
# Cleaning and changing the column value types 
cleaning(link_data["Open"])
link_data["Open"] = link_data["Open"].astype("float")
cleaning(link_data["Close*"])
link_data["Close*"] = link_data['Close*'].astype("float")
cleaning(link_data["High"])
link_data["High"] = link_data["High"].astype("float")
cleaning(link_data["Low"])
link_data["Low"] = link_data["Low"].astype("float")
cleaning(link_data["Adj Close**"])
link_data["Adj Close**"] = link_data["Adj Close**"].astype("float")
cleaning(link_data["Volume"])
link_data["Volume"] = link_data["Volume"].astype("float")

In [13]:
link_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# COSMOS

In [14]:
# Dropping NA values from the data
atom1_data = atom1_data.dropna(how='any',axis=0)

In [15]:
# Cleaning and changing the column value types 
cleaning(atom1_data["Open"])
atom1_data["Open"] = atom1_data["Open"].astype("float")
cleaning(atom1_data["Close*"])
atom1_data["Close*"] = atom1_data['Close*'].astype("float")
cleaning(atom1_data["High"])
atom1_data["High"] = atom1_data["High"].astype("float")
cleaning(atom1_data["Low"])
atom1_data["Low"] = atom1_data["Low"].astype("float")
cleaning(atom1_data["Adj Close**"])
atom1_data["Adj Close**"] = atom1_data["Adj Close**"].astype("float")
cleaning(atom1_data["Volume"])
atom1_data["Volume"] = atom1_data["Volume"].astype("float")

In [16]:
atom1_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object