# Cleaning and Exporting to CSV

In [66]:
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

# Import pandas
import pandas as pd

In [28]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
btc_data = get_historical_data(browser, 'BTC-USD', '9/17/2014', '9/29/2021')
eth_data = get_historical_data(browser, 'ETH-USD', '9/17/2014', '9/29/2021') 
ada_data = get_historical_data(browser, 'ADA-USD', '9/17/2014', '9/29/2021')
xrp_data = get_historical_data(browser, 'XRP-USD', '9/17/2014', '9/29/2021')
bnb_data = get_historical_data(browser, 'BNB-USD', '9/17/2014', '9/29/2021') 
ltc_data = get_historical_data(browser, 'LTC-USD', '9/17/2014', '9/29/2021')
doge_data = get_historical_data(browser, 'DOGE-USD', '9/17/2014', '9/29/2021')
dot1_data = get_historical_data(browser, 'DOT1-USD', '9/17/2014', '9/29/2021') 
etc_data = get_historical_data(browser, 'ETC-USD', '9/17/2014', '9/29/2021')
sol1_data = get_historical_data(browser, 'SOL1-USD', '9/17/2014', '9/29/2021')
link_data = get_historical_data(browser, 'LINK-USD', '9/17/2014', '9/29/2021') 
atom1_data = get_historical_data(browser, 'ATOM1-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(btc_data.shape, eth_data.shape, ada_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/albertomontilla/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

(2571, 7) (2247, 7) (1461, 7)

In [29]:
btc_data.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
2566,2021-09-25,"42,840.89","42,996.26","41,759.92","42,716.59","42,716.59","31,604,717,236"
2567,2021-09-26,"42,721.63","43,919.30","40,848.46","43,208.54","43,208.54","30,661,222,077"
2568,2021-09-27,"43,234.18","44,313.25","42,190.63","42,235.73","42,235.73","30,980,029,059"
2569,2021-09-28,"42,200.90","42,775.14","40,931.66","41,034.54","41,034.54","30,214,940,550"
2570,2021-09-29,"41,064.98","42,545.26","40,829.67","41,564.36","41,564.36","30,602,359,905"

In [30]:
eth_data.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
2242,2021-09-25,"2,930.88","2,968.99","2,818.97","2,925.57","2,925.57","18,932,786,754"
2243,2021-09-26,"2,926.34","3,114.86","2,744.58","3,062.27","3,062.27","21,172,766,310"
2244,2021-09-27,"3,065.84","3,163.67","2,932.69","2,934.14","2,934.14","19,164,053,681"
2245,2021-09-28,"2,928.96","2,970.77","2,793.36","2,807.30","2,807.30","16,895,079,070"
2246,2021-09-29,"2,809.30","2,946.88","2,786.99","2,853.14","2,853.14","15,763,456,158"

In [31]:
ada_data.head()

        Date    Open    High     Low  Close* Adj Close**      Volume
0 2017-10-01  0.0217  0.0322  0.0174  0.0250      0.0250  50,068,700
1 2017-10-02  0.0246  0.0301  0.0200  0.0259      0.0259  57,641,300
2 2017-10-03  0.0258  0.0274  0.0207  0.0208      0.0208  16,997,800
3 2017-10-04  0.0209  0.0228  0.0209  0.0219      0.0219   9,000,050
4 2017-10-05  0.0220  0.0222  0.0209  0.0215      0.0215   5,562,510

In [32]:
# Formatting columns function

def regex(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Clean and export function

def clean_export (dataframe, namecsv):


    def clean (dataframe):
            for column in dataframe.columns :
                regex(dataframe)

    clean(dataframe)
    
    # Converting columns in float type after cleaning

    def float_converter (dataframe):
            dataframe["Open"] = dataframe["Open"].astype("float")
            dataframe["Close*"] = dataframe['Close*'].astype("float")
            dataframe["High"] = dataframe["High"].astype("float")
            dataframe["Low"] = dataframe["Low"].astype("float")
            dataframe["Adj Close**"] = dataframe["Adj Close**"].astype("float")
            dataframe["Volume"] = dataframe["Volume"].astype("float")
    
    float_converter(dataframe)

    # Dropping NA values

    dataframe.dropna(how='any',axis=0, inplace=True)

        # Exporting the data to a CSV File

    return dataframe.to_csv(f'Resources/{namecsv}-USD.csv', header=False, index=False)

In [33]:
# Add symbol function

def add_symbol (dataframe, symbol):
    for i in dataframe.iterrows():
        dataframe['symbol'] = symbol

# BITCOIN

In [43]:
add_symbol(btc_data, 'BTC')
clean_export(btc_data, 'BTC')
btc_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2014-09-17,465.86,468.17,452.42,457.33,457.33,2.105680e+07,BTC
1,2014-09-18,456.86,456.86,413.10,424.44,424.44,3.448320e+07,BTC
2,2014-09-19,424.10,427.83,384.53,394.80,394.80,3.791970e+07,BTC
3,2014-09-20,394.67,423.30,389.88,408.90,408.90,3.686360e+07,BTC
4,2014-09-21,408.08,412.43,393.18,398.82,398.82,2.658010e+07,BTC
...,...,...,...,...,...,...,...,...
2566,2021-09-25,42840.89,42996.26,41759.92,42716.59,42716.59,3.160472e+10,BTC
2567,2021-09-26,42721.63,43919.30,40848.46,43208.54,43208.54,3.066122e+10,BTC
2568,2021-09-27,43234.18,44313.25,42190.63,42235.73,42235.73,3.098003e+10,BTC
2569,2021-09-28,42200.90,42775.14,40931.66,41034.54,41034.54,3.021494e+10,BTC
2570,2021-09-29,41064.98,42545.26,40829.67,41564.36,41564.36,3.060236e+10,BTC

# ETHEREUM

In [44]:
add_symbol(eth_data, 'ETH')
clean_export(eth_data, 'ETH')
eth_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2015-08-07,2.83,3.54,2.52,2.77,2.77,1.643290e+05,ETH
1,2015-08-08,2.79,2.80,0.71,0.75,0.75,6.741880e+05,ETH
2,2015-08-09,0.71,0.88,0.63,0.70,0.70,5.321700e+05,ETH
3,2015-08-10,0.71,0.73,0.64,0.71,0.71,4.052830e+05,ETH
4,2015-08-11,0.71,1.13,0.66,1.07,1.07,1.463100e+06,ETH
...,...,...,...,...,...,...,...,...
2242,2021-09-25,2930.88,2968.99,2818.97,2925.57,2925.57,1.893279e+10,ETH
2243,2021-09-26,2926.34,3114.86,2744.58,3062.27,3062.27,2.117277e+10,ETH
2244,2021-09-27,3065.84,3163.67,2932.69,2934.14,2934.14,1.916405e+10,ETH
2245,2021-09-28,2928.96,2970.77,2793.36,2807.30,2807.30,1.689508e+10,ETH
2246,2021-09-29,2809.30,2946.88,2786.99,2853.14,2853.14,1.576346e+10,ETH

# CARDANO

In [47]:
add_symbol(ada_data, 'ADA')
clean_export(ada_data, 'ADA')
ada_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2017-10-01,0.0217,0.0322,0.0174,0.0250,0.0250,5.006870e+07,ADA
1,2017-10-02,0.0246,0.0301,0.0200,0.0259,0.0259,5.764130e+07,ADA
2,2017-10-03,0.0258,0.0274,0.0207,0.0208,0.0208,1.699780e+07,ADA
3,2017-10-04,0.0209,0.0228,0.0209,0.0219,0.0219,9.000050e+06,ADA
4,2017-10-05,0.0220,0.0222,0.0209,0.0215,0.0215,5.562510e+06,ADA
...,...,...,...,...,...,...,...,...
1456,2021-09-25,2.2794,2.4581,2.2412,2.3015,2.3015,6.081077e+09,ADA
1457,2021-09-26,2.3024,2.3024,2.1535,2.2085,2.2085,4.143033e+09,ADA
1458,2021-09-27,2.2120,2.2716,2.1340,2.1359,2.1359,2.990138e+09,ADA
1459,2021-09-28,2.1332,2.1722,2.0300,2.0391,2.0391,3.092924e+09,ADA
1460,2021-09-29,2.0390,2.1447,2.0230,2.0657,2.0657,2.869486e+09,ADA

# BINANCE

In [49]:
add_symbol(bnb_data, 'BNB')
clean_export(bnb_data, 'BNB')
bnb_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2017-07-25,0.12,0.12,0.10,0.11,0.11,1.452690e+05,BNB
1,2017-07-26,0.11,0.11,0.10,0.11,0.11,2.003950e+05,BNB
2,2017-07-27,0.11,0.11,0.10,0.11,0.11,3.444990e+05,BNB
3,2017-07-28,0.11,0.11,0.10,0.10,0.10,3.425680e+05,BNB
4,2017-07-29,0.10,0.11,0.10,0.11,0.11,3.402180e+05,BNB
...,...,...,...,...,...,...,...,...
1524,2021-09-25,355.41,360.63,344.19,349.88,349.88,1.388465e+09,BNB
1525,2021-09-26,349.88,352.70,320.37,344.18,344.18,1.958527e+09,BNB
1526,2021-09-27,344.65,357.29,335.79,336.19,336.19,1.507057e+09,BNB
1527,2021-09-28,335.81,344.28,330.07,333.03,333.03,1.294331e+09,BNB
1528,2021-09-29,333.40,375.01,331.45,367.99,367.99,2.385693e+09,BNB

# DOGECOIN

In [50]:
add_symbol(doge_data, 'DOGE')
clean_export(doge_data, 'DOGE')
doge_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,1.463600e+06,DOGE
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,2.215910e+06,DOGE
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,8.835630e+05,DOGE
3,2014-09-20,0.0003,0.0003,0.0003,0.0003,0.0003,9.930040e+05,DOGE
4,2014-09-21,0.0003,0.0003,0.0003,0.0003,0.0003,5.391400e+05,DOGE
...,...,...,...,...,...,...,...,...
2566,2021-09-25,0.2093,0.2126,0.2049,0.2086,0.2086,1.067132e+09,DOGE
2567,2021-09-26,0.2087,0.2091,0.1945,0.2050,0.2050,1.147321e+09,DOGE
2568,2021-09-27,0.2052,0.2093,0.2001,0.2003,0.2003,8.382972e+08,DOGE
2569,2021-09-28,0.2000,0.2026,0.1964,0.1968,0.1968,8.663012e+08,DOGE
2570,2021-09-29,0.1970,0.2041,0.1950,0.1989,0.1989,9.267371e+08,DOGE

# POLKADOT

In [52]:
add_symbol(dot1_data, 'DOT1')
clean_export(dot1_data, 'DOT1')
dot1_data

          Date   Open   High    Low  Close*  Adj Close**        Volume symbol
0   2020-08-20   2.79   3.08   2.69    2.90         2.90  4.881987e+07   DOT1
1   2020-08-21   2.90   3.09   2.73    2.88         2.88  4.931314e+07   DOT1
2   2020-08-22   2.88   4.51   2.82    4.48         4.48  4.858011e+08   DOT1
3   2020-08-23   4.49   4.49   3.72    3.97         3.97  3.207495e+08   DOT1
4   2020-08-24   3.99   4.78   3.81    4.60         4.60  4.076902e+08   DOT1
..         ...    ...    ...    ...     ...          ...           ...    ...
402 2021-09-25  30.84  32.23  29.49   29.84        29.84  2.036495e+09   DOT1
403 2021-09-26  29.88  30.03  26.84   28.83        28.83  2.609529e+09   DOT1
404 2021-09-27  28.91  30.22  27.64   27.77        27.77  1.672382e+09   DOT1
405 2021-09-28  27.75  28.34  26.18   26.33        26.33  1.505382e+09   DOT1
406 2021-09-29  26.36  28.59  26.13   27.27        27.27  1.537170e+09   DOT1

[387 rows x 8 columns]

# ETHEREUM CLASSIC

In [54]:
add_symbol(etc_data, 'ETC')
clean_export(etc_data, 'ETC')
etc_data

           Date   Open   High    Low  Close*  Adj Close**       Volume symbol
0    2016-07-24   0.75   0.96   0.74    0.93         0.93   17769300.0    ETC
1    2016-07-25   0.93   0.93   0.45    0.60         0.60    9308400.0    ETC
2    2016-07-26   0.60   2.85   0.60    2.55         2.55  103066000.0    ETC
3    2016-07-27   2.46   2.46   1.26    1.60         1.60   62645700.0    ETC
4    2016-07-28   1.56   1.92   1.37    1.73         1.73   40291300.0    ETC
...         ...    ...    ...    ...     ...          ...          ...    ...
1890 2021-09-25  47.71  49.48  46.29   47.43        47.43  780572059.0    ETC
1891 2021-09-26  47.44  48.26  44.07   47.20        47.20  953120464.0    ETC
1892 2021-09-27  47.31  48.42  45.40   45.47        45.47  713423817.0    ETC
1893 2021-09-28  45.41  48.62  44.87   45.04        45.04  911252123.0    ETC
1894 2021-09-29  45.06  46.82  44.66   45.60        45.60  788760881.0    ETC

[1895 rows x 8 columns]

# CHAINLINK

In [56]:
add_symbol(link_data, 'LINK')
clean_export(link_data, 'LINK')
link_data

           Date   Open   High    Low  Close*  Adj Close**        Volume symbol
0    2017-09-20   0.16   0.19   0.15    0.19         0.19  2.718640e+06   LINK
1    2017-09-21   0.19   0.21   0.16    0.17         0.17  2.126270e+06   LINK
2    2017-09-22   0.17   0.18   0.14    0.15         0.15  1.423220e+06   LINK
3    2017-09-23   0.15   0.16   0.13    0.13         0.13  1.186670e+06   LINK
4    2017-09-24   0.13   0.19   0.13    0.17         0.17  1.025740e+06   LINK
...         ...    ...    ...    ...     ...          ...           ...    ...
1467 2021-09-25  23.27  24.72  22.12   24.52        24.52  1.343114e+09   LINK
1468 2021-09-26  24.54  25.39  22.43   24.60        24.60  1.923141e+09   LINK
1469 2021-09-27  24.66  25.44  23.01   23.07        23.07  1.068472e+09   LINK
1470 2021-09-28  23.03  23.74  22.02   22.10        22.10  1.022623e+09   LINK
1471 2021-09-29  22.13  23.89  22.04   22.88        22.88  1.000763e+09   LINK

[1472 rows x 8 columns]

# LITECOIN

In [58]:
add_symbol(ltc_data, "LTC")
clean_export(ltc_data, "LTC")
ltc_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2014-09-17,5.09,5.17,4.97,5.06,5.06,3.071840e+06,LTC
1,2014-09-18,5.07,5.07,4.58,4.69,4.69,4.569260e+06,LTC
2,2014-09-19,4.69,4.76,4.25,4.33,4.33,3.917450e+06,LTC
3,2014-09-20,4.33,4.62,4.20,4.29,4.29,5.490660e+06,LTC
4,2014-09-21,4.26,4.30,4.15,4.25,4.25,2.931220e+06,LTC
...,...,...,...,...,...,...,...,...
2566,2021-09-25,152.23,155.53,149.28,151.18,151.18,2.780150e+09,LTC
2567,2021-09-26,151.19,153.41,142.55,150.64,150.64,3.285914e+09,LTC
2568,2021-09-27,150.86,154.83,145.28,145.35,145.35,2.675738e+09,LTC
2569,2021-09-28,145.22,148.45,140.37,140.60,140.60,2.716268e+09,LTC
2570,2021-09-29,140.67,149.66,140.15,144.92,144.92,2.611873e+09,LTC

# RIPPLE

In [60]:
add_symbol(xrp_data, 'XRP')
clean_export(xrp_data, 'XRP')
xrp_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2014-09-17,0.0051,0.0058,0.0051,0.0054,0.0054,1.281960e+06,XRP
1,2014-09-18,0.0054,0.0055,0.0051,0.0051,0.0051,4.911470e+05,XRP
2,2014-09-19,0.0051,0.0052,0.0049,0.0049,0.0049,4.071090e+05,XRP
3,2014-09-20,0.0049,0.0050,0.0047,0.0048,0.0048,3.226210e+05,XRP
4,2014-09-21,0.0048,0.0048,0.0045,0.0046,0.0046,3.095710e+05,XRP
...,...,...,...,...,...,...,...,...
2566,2021-09-25,0.9455,0.9569,0.9196,0.9413,0.9413,3.067009e+09,XRP
2567,2021-09-26,0.9416,0.9567,0.8948,0.9447,0.9447,3.142033e+09,XRP
2568,2021-09-27,0.9460,0.9815,0.9211,0.9237,0.9237,3.014580e+09,XRP
2569,2021-09-28,0.9231,0.9426,0.8925,0.8937,0.8937,2.818991e+09,XRP
2570,2021-09-29,0.8946,0.9903,0.8879,0.9283,0.9283,3.558174e+09,XRP

# COSMOS

In [62]:
add_symbol(atom1_data, 'ATOM1')
clean_export(atom1_data, 'ATOM1')
atom1_data

          Date   Open   High    Low  Close*  Adj Close**        Volume symbol
0   2019-09-19   3.31   3.31   2.94    3.13         3.13  1.841576e+08  ATOM1
1   2019-09-20   3.14   3.26   3.08    3.18         3.18  1.480246e+08  ATOM1
2   2019-09-21   3.18   3.29   3.04    3.07         3.07  1.469955e+08  ATOM1
3   2019-09-22   3.07   3.08   2.81    2.91         2.91  1.401886e+08  ATOM1
4   2019-09-23   2.92   2.92   2.58    2.58         2.58  1.296824e+08  ATOM1
..         ...    ...    ...    ...     ...          ...           ...    ...
579 2021-09-25  42.65  43.04  38.94   39.52        39.52  1.603839e+09  ATOM1
580 2021-09-26  39.53  41.65  35.62   39.62        39.62  1.781196e+09  ATOM1
581 2021-09-27  39.99  40.75  36.77   37.34        37.34  1.237074e+09  ATOM1
582 2021-09-28  37.28  37.82  33.43   33.67        33.67  1.080352e+09  ATOM1
583 2021-09-29  33.75  36.67  32.82   33.95        33.95  1.083211e+09  ATOM1

[484 rows x 8 columns]

# SOLANA

In [65]:
add_symbol(sol1_data, 'SOL1')
clean_export(sol1_data, 'SOL1')
sol1_data

,Date,Open,High,Low,Close*,Adj Close**,Volume,symbol
0,2020-05-07,0.62,0.63,0.57,0.61,0.61,3.355830e+06,SOL1
1,2020-05-08,0.61,0.64,0.59,0.60,0.60,2.488195e+06,SOL1
9,2020-05-16,0.56,0.61,0.55,0.60,0.60,2.300409e+06,SOL1
10,2020-05-17,0.60,0.64,0.59,0.61,0.61,2.936428e+06,SOL1
11,2020-05-18,0.61,0.67,0.61,0.65,0.65,3.314359e+06,SOL1
...,...,...,...,...,...,...,...,...
507,2021-09-25,139.30,144.07,134.11,136.18,136.18,2.037107e+09,SOL1
508,2021-09-26,136.22,140.78,125.12,135.70,135.70,2.674183e+09,SOL1
509,2021-09-27,135.93,148.50,133.98,136.73,136.73,2.867247e+09,SOL1
510,2021-09-28,136.51,139.29,128.24,131.54,131.54,2.422543e+09,SOL1
511,2021-09-29,132.34,140.04,131.23,135.35,135.35,2.428105e+09,SOL1

# COINS

In [72]:
coins = {'Symbol': ['ADA', 'ATOM1', 'BNB', 'BTC', 'DOGE', 'DOT1', 'ETC', 'ETH', 'LINK', 'LTC', 'SOL1', 'XRP'], 
        'Name': ['CARDANO', 'COSMOS', 'BINANCE', 'BITCOIN', 'DOGECOIN', 'POLKADOT', 'ETHEREUM_CLASSIC', 'ETHEREUM', 'CHAINLINK', 'LITECOIN', 'SOLANA', 'RIPPLE']}
coins_df = pd.DataFrame(data=coins)
coins_df

   Symbol              Name
0     ADA           CARDANO
1   ATOM1            COSMOS
2     BNB           BINANCE
3     BTC           BITCOIN
4    DOGE          DOGECOIN
5    DOT1          POLKADOT
6     ETC  ETHEREUM_CLASSIC
7     ETH          ETHEREUM
8    LINK         CHAINLINK
9     LTC          LITECOIN
10   SOL1            SOLANA
11    XRP            RIPPLE

In [71]:
coins_df.to_csv('Resources/COINS.csv', header=False, index=False)