# Cleaning and Exporting to CSV

In [1]:
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [2]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
btc_data = get_historical_data(browser, 'BTC-USD', '9/17/2014', '9/29/2021')
eth_data = get_historical_data(browser, 'ETH-USD', '9/17/2014', '9/29/2021') 
ada_data = get_historical_data(browser, 'ADA-USD', '9/17/2014', '9/29/2021')
xrp_data = get_historical_data(browser, 'XRP-USD', '9/17/2014', '9/29/2021')
bnb_data = get_historical_data(browser, 'BNB-USD', '9/17/2014', '9/29/2021') 
ltc_data = get_historical_data(browser, 'LTC-USD', '9/17/2014', '9/29/2021')
doge_data = get_historical_data(browser, 'DOGE-USD', '9/17/2014', '9/29/2021')
dot1_data = get_historical_data(browser, 'DOT1-USD', '9/17/2014', '9/29/2021') 
etc_data = get_historical_data(browser, 'ETC-USD', '9/17/2014', '9/29/2021')
sol1_data = get_historical_data(browser, 'SOL1-USD', '9/17/2014', '9/29/2021')
link_data = get_historical_data(browser, 'LINK-USD', '9/17/2014', '9/29/2021') 
atom1_data = get_historical_data(browser, 'ATOM1-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(btc_data.shape, eth_data.shape, ada_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/albertomontilla/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

(2571, 7) (2247, 7) (1461, 7)

In [17]:
btc_data.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
2566,2021-09-25,"42,840.89","42,996.26","41,759.92","42,716.59","42,716.59","31,604,717,236"
2567,2021-09-26,"42,721.63","43,919.30","40,848.46","43,208.54","43,208.54","30,661,222,077"
2568,2021-09-27,"43,234.18","44,313.25","42,190.63","42,235.73","42,235.73","30,980,029,059"
2569,2021-09-28,"42,200.90","42,775.14","40,931.66","41,034.54","41,034.54","30,214,940,550"
2570,2021-09-29,"41,064.98","42,545.26","40,829.67","41,564.36","41,564.36","30,602,359,905"

In [18]:
eth_data.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
2242,2021-09-25,"2,930.88","2,968.99","2,818.97","2,925.57","2,925.57","18,932,786,754"
2243,2021-09-26,"2,926.34","3,114.86","2,744.58","3,062.27","3,062.27","21,172,766,310"
2244,2021-09-27,"3,065.84","3,163.67","2,932.69","2,934.14","2,934.14","19,164,053,681"
2245,2021-09-28,"2,928.96","2,970.77","2,793.36","2,807.30","2,807.30","16,895,079,070"
2246,2021-09-29,"2,809.30","2,946.88","2,786.99","2,853.14","2,853.14","15,763,456,158"

In [19]:
ada_data.head()

        Date    Open    High     Low  Close* Adj Close**      Volume
0 2017-10-01  0.0217  0.0322  0.0174  0.0250      0.0250  50,068,700
1 2017-10-02  0.0246  0.0301  0.0200  0.0259      0.0259  57,641,300
2 2017-10-03  0.0258  0.0274  0.0207  0.0208      0.0208  16,997,800
3 2017-10-04  0.0209  0.0228  0.0209  0.0219      0.0219   9,000,050
4 2017-10-05  0.0220  0.0222  0.0209  0.0215      0.0215   5,562,510

In [30]:
# Formatting columns function

def regex(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Clean and export function

def clean_export (dataframe, namecsv):

    # Dropping NA values

    dataframe.dropna(how='any',axis=0, inplace=True)

    def clean(dataframe):
            for column in dataframe.columns :
                regex(dataframe)

    clean(dataframe)
        # Converting columns in float type after cleaning

    def float_converter (dataframe):
            dataframe["Open"] = dataframe["Open"].astype("float")
            dataframe["Close*"] = dataframe['Close*'].astype("float")
            dataframe["High"] = dataframe["High"].astype("float")
            dataframe["Low"] = dataframe["Low"].astype("float")
            dataframe["Adj Close**"] = dataframe["Adj Close**"].astype("float")
            dataframe["Volume"] = dataframe["Volume"].astype("float")
    
    float_converter(dataframe)

        # Exporting the data to a CSV File

    return dataframe.to_csv(f'Resources/{namecsv}-USD.csv', header=False, index=False)

# BITCOIN

In [32]:
clean_export(btc_data, 'BITCOIN')
btc_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# ETHEREUM

In [33]:
clean_export(eth_data, 'ETHEREUM')
eth_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# CARDANO

In [34]:
clean_export(ada_data, 'CARDANO')
ada_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# BINANCE

In [31]:
clean_export(bnb_data, 'BINANCE')