In [1]:
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [3]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
doge_data = get_historical_data(browser, 'DOGE-USD', '9/17/2014', '9/29/2021')
dot1_data = get_historical_data(browser, 'DOT1-USD', '9/17/2014', '9/29/2021') 
etc_data = get_historical_data(browser, 'ETC-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(doge_data.shape, dot1_data.shape, etc_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\19125\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

(2571, 7) (407, 7) (1895, 7)

In [4]:
doge_data.head()

        Date      Open      High       Low    Close* Adj Close**     Volume
0 2014-09-17  0.000293  0.000299  0.000260  0.000268    0.000268  1,463,600
1 2014-09-18  0.000268  0.000325  0.000267  0.000298    0.000298  2,215,910
2 2014-09-19  0.000298  0.000307  0.000275  0.000277    0.000277    883,563
3 2014-09-20  0.000276  0.000310  0.000267  0.000292    0.000292    993,004
4 2014-09-21  0.000293  0.000299  0.000284  0.000288    0.000288    539,140

In [5]:
dot1_data.head()

        Date  Open  High   Low Close* Adj Close**       Volume
0 2020-08-20  2.79  3.08  2.69   2.90        2.90   48,819,867
1 2020-08-21  2.90  3.09  2.73   2.88        2.88   49,313,137
2 2020-08-22  2.88  4.51  2.82   4.48        4.48  485,801,096
3 2020-08-23  4.49  4.49  3.72   3.97        3.97  320,749,483
4 2020-08-24  3.99  4.78  3.81   4.60        4.60  407,690,171

In [6]:
etc_data.head()

        Date  Open  High   Low Close* Adj Close**       Volume
0 2016-07-24  0.75  0.96  0.74   0.93        0.93   17,769,300
1 2016-07-25  0.93  0.93  0.45   0.60        0.60    9,308,400
2 2016-07-26  0.60  2.85  0.60   2.55        2.55  103,066,000
3 2016-07-27  2.46  2.46  1.26   1.60        1.60   62,645,700
4 2016-07-28  1.56  1.92  1.37   1.73        1.73   40,291,300

In [7]:
# Formatting columns function
def cleaning(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# DODGE COIN

In [9]:
# Dropping NA values from the data
doge_data = doge_data.dropna(how='any',axis=0)

In [14]:
# Cleaning and changing the column value types 
cleaning(doge_data["Open"])
doge_data["Open"] = doge_data["Open"].astype("float")
cleaning(doge_data["Close*"])
doge_data["Close*"] = doge_data['Close*'].astype("float")
cleaning(doge_data["High"])
doge_data["High"] = doge_data["High"].astype("float")
cleaning(doge_data["Low"])
doge_data["Low"] = doge_data["Low"].astype("float")
cleaning(doge_data["Adj Close**"])
doge_data["Adj Close**"] = doge_data["Adj Close**"].astype("float")
cleaning(doge_data["Volume"])
doge_data["Volume"] = doge_data["Volume"].astype("float")

In [15]:
doge_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# POLKADOT

In [16]:
# Dropping NA values from the data
dot1_data = dot1_data.dropna(how='any',axis=0)

In [18]:
# Cleaning and changing the column value types 
cleaning(dot1_data["Open"])
dot1_data["Open"] = dot1_data["Open"].astype("float")
cleaning(dot1_data["Close*"])
dot1_data["Close*"] = dot1_data['Close*'].astype("float")
cleaning(dot1_data["High"])
dot1_data["High"] = dot1_data["High"].astype("float")
cleaning(dot1_data["Low"])
dot1_data["Low"] = dot1_data["Low"].astype("float")
cleaning(dot1_data["Adj Close**"])
dot1_data["Adj Close**"] = dot1_data["Adj Close**"].astype("float")
cleaning(dot1_data["Volume"])
dot1_data["Volume"] = dot1_data["Volume"].astype("float")

In [19]:
dot1_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# ETHEREUM CLASSIC

In [20]:
# Dropping NA values from the data
etc_data = etc_data.dropna(how='any',axis=0)

In [22]:
# Cleaning and changing the column value types 
cleaning(etc_data["Open"])
etc_data["Open"] = etc_data["Open"].astype("float")
cleaning(etc_data["Close*"])
etc_data["Close*"] = etc_data['Close*'].astype("float")
cleaning(etc_data["High"])
etc_data["High"] = etc_data["High"].astype("float")
cleaning(etc_data["Low"])
etc_data["Low"] = etc_data["Low"].astype("float")
cleaning(etc_data["Adj Close**"])
etc_data["Adj Close**"] = etc_data["Adj Close**"].astype("float")
cleaning(etc_data["Volume"])
etc_data["Volume"] = etc_data["Volume"].astype("float")

In [23]:
etc_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object