In [16]:
# Imports to load from subdirectories
import sys
sys.path.insert(0, './load')

# Imports for the YF scraper 
from Yahoo_Finance_Scraper import get_historical_data
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import numpy as np

In [20]:
# Minimal code to run it
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)
xrp_data = get_historical_data(browser, 'XRP-USD', '9/17/2014', '9/29/2021')
bnb_data = get_historical_data(browser, 'BNB-USD', '9/17/2014', '9/29/2021') 
ltc_data = get_historical_data(browser, 'LTC-USD', '9/17/2014', '9/29/2021')
browser.quit()
print(btc_data.shape, eth_data.shape, ada_data.shape)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\19125\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

(2571, 7) (1529, 7) (2571, 7)

In [21]:
xrp_data.head()

        Date    Open    High     Low  Close* Adj Close**     Volume
0 2014-09-17  0.0051  0.0058  0.0051  0.0054      0.0054  1,281,960
1 2014-09-18  0.0054  0.0055  0.0051  0.0051      0.0051    491,147
2 2014-09-19  0.0051  0.0052  0.0049  0.0049      0.0049    407,109
3 2014-09-20  0.0049  0.0050  0.0047  0.0048      0.0048    322,621
4 2014-09-21  0.0048  0.0048  0.0045  0.0046      0.0046    309,571

In [23]:
bnb_data.head()

        Date  Open  High   Low Close* Adj Close**   Volume
0 2017-07-25  0.12  0.12  0.10   0.11        0.11  145,269
1 2017-07-26  0.11  0.11  0.10   0.11        0.11  200,395
2 2017-07-27  0.11  0.11  0.10   0.11        0.11  344,499
3 2017-07-28  0.11  0.11  0.10   0.10        0.10  342,568
4 2017-07-29  0.10  0.11  0.10   0.11        0.11  340,218

In [ ]:
ltc_data.head()

In [24]:
# Formatting columns function
def cleaning(column):
    column.replace(',', '', regex=True, inplace=True)
    column.replace('-', '', regex=True, inplace=True)
    column.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Ripple

In [25]:
# Dropping NA values from the data
xrp_data = xrp_data.dropna(how='any',axis=0)

In [26]:
# Cleaning and changing the column value types 
cleaning(btc_data["Open"])
xrp_data["Open"] = btc_data["Open"].astype("float")
cleaning(btc_data["Close*"])
xrp_data["Close*"] = btc_data['Close*'].astype("float")
cleaning(btc_data["High"])
xrp_data["High"] = btc_data["High"].astype("float")
cleaning(btc_data["Low"])
xrp_data["Low"] = btc_data["Low"].astype("float")
cleaning(btc_data["Adj Close**"])
xrp_data["Adj Close**"] = btc_data["Adj Close**"].astype("float")
cleaning(btc_data["Volume"])
xrp_data["Volume"] = btc_data["Volume"].astype("float")

In [27]:
xrp_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# Binance Coin

In [29]:
# Dropping NA values from the data
bnb_data = eth_data.dropna(how='any',axis=0)

In [30]:
# Cleaning and changing the column value types 
cleaning(eth_data["Open"])
bnb_data["Open"] = eth_data["Open"].astype("float")
cleaning(eth_data["Close*"])
bnb_data["Close*"] = eth_data['Close*'].astype("float")
cleaning(eth_data["High"])
bnb_data["High"] = eth_data["High"].astype("float")
cleaning(eth_data["Low"])
bnb_data["Low"] = eth_data["Low"].astype("float")
cleaning(eth_data["Adj Close**"])
bnb_data["Adj Close**"] = eth_data["Adj Close**"].astype("float")
cleaning(eth_data["Volume"])
bnb_data["Volume"] = eth_data["Volume"].astype("float")

In [31]:
bnb_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object

# Lite Coin

In [32]:
# Dropping NA values from the data
ltc_data = ada_data.dropna(how='any',axis=0)

In [33]:
# Cleaning and changing the column value types 
cleaning(eth_data["Open"])
ltc_data["Open"] = eth_data["Open"].astype("float")
cleaning(eth_data["Close*"])
ltc_data["Close*"] = eth_data['Close*'].astype("float")
cleaning(eth_data["High"])
ltc_data["High"] = eth_data["High"].astype("float")
cleaning(eth_data["Low"])
ltc_data["Low"] = eth_data["Low"].astype("float")
cleaning(eth_data["Adj Close**"])
ltc_data["Adj Close**"] = eth_data["Adj Close**"].astype("float")
cleaning(eth_data["Volume"])
ltc_data["Volume"] = eth_data["Volume"].astype("float")

In [34]:
ltc_data.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object